@import '../../styles/variables';

$height: $navbar-h;

.portfolio-id-hero {
  background-size: cover;
  background-position: center $height;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  isolation: isolate;

  .portfolio-id-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-title {
      color: $white;
      font-size: 3rem;
      text-align: center;
    }

    svg {
      color: $white;
      font-size: 5rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: -1;
  }
}

.portfolio-gallery-grid {
  display: flex;
  gap: 2rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;

  .portfolio-gallery-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
    align-self: center;

    img {
      border: 1px solid $black;
    }
  }
}
